* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 25px;
}

body {
    background: whitesmoke;
}

img {
    border-radius: 30px;
}

#container {
    max-width: 1024px;
    margin: 0 auto;
}

#container > header {
    background: whitesmoke;
    text-align: center;
    padding-top: 4rem;
}

main {
    background: #ecedea;
    font-size: 30px;
    padding: 2rem;
}

footer {
    background: grey;
    height: 3rem;
    font-size: 15px;
}

/* NAV */
nav {
    background: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial', sans-serif;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    color: #ecedea;
    border-right: 2px solid #d4e4ef;
    
}

nav ul li a {
    text-decoration: none;
    display:flex;
    color: #ecedea;
    padding: 20px;
}

/* MAIN */
main > header {
    color: black;
    font-family: sans-serif;
    font-weight: 600;
}   

.calçado { margin-bottom: 10px; }
.calçado p {
    background-color: black;
    color: whitesmoke;
    padding: 2px 4px;
    margin: 4px 8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.calçado p:hover {
    transform: rotate(-4deg);    
}

#calçados {
    padding: 2px 4px;
    margin: 4px 8px;
    display:list-item;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}